@import "../../styles/variables/colors";

.add-feature-style {
  .feature-header {
    display: flex;
    gap: 14px;
    align-items: center;
    width: 100%;
    padding-bottom: 28px;

    img {
      width: 20.74px;
      height: 21.33px;
    }

    .feature-title {
      margin: 0;
      color: rgba($text-color, 92%);
      font-size: 28px;
    }
  }

  .instruction {
    font-weight: 400;
    font-size: 16px;
    max-width: 596px;
    line-height: 24px;
    color: rgba($text-color, 64%);
  }
}

.feature-form {
  display: flex;

  .ant-form {
    max-width: 598px;
  }
  .feature-id {
    .field-head {
      display: flex;
      justify-content: space-between;
    }

    .analytics {
      display: flex;
      align-items: center;
      position: relative;

      .ant-btn-default {
        background-color: transparent;
        width: auto;
        position: absolute;
        transform: translate(140px, 3px);

        .anticon-copy {
          svg {
            width: 12px;
            height: 13.3px;
            font-weight: bold;
            color: rgba($text-color, 92%);
          }
        }
      }

      .ant-btn {
        box-shadow: none;
      }

      .copy-text {
        &:focus {
          border: 1px solid $border-primary;
        }
        &:hover {
          border: 1px solid $border-primary;
        }
      }
    }
  }

  .feature-input-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: rgba($text-color, 64%);
    gap: 3px;
  }

  .field-input {
    margin-top: 6px;
    height: 59px;
    background-color: $white;
    transition: all 0.5s;
    &:focus {
      bottom: 0px;
      background: #ffffff;
      border: 2px solid $theme-primary;
      outline: none;
      box-shadow: none;
      border-radius: 8px;
    }

    &:hover {
      border: 2px solid $theme-primary;
    }
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba($text-color, 32%);
    }
  }

  .disabled-input {
    &:focus {
      bottom: 0px;
      background: #ffffff;
      border: none;
      outline: none;
      box-shadow: none;
      border-radius: 8px;
    }
    &:hover {
      border: 1px solid rgba($text-color, 12%);
    }
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba($text-color, 92%);
    }
  }

  .warning-icons {
    width: 14px;
    height: 14px;
  }
  .status-toggle {
    display: flex;
    justify-content: space-between;
    .status-check {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    .ant-switch {
      background: $theme-gray;
    }

    .ant-switch-checked {
      background-color: $theme-primary;
    }
  }
}

.feature-container {
  flex-direction: column;
  justify-content: flex-end;
}

// Feature-created-layout

.feature-created-section {
  // background-color: red;

  .breadcrumbs {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: rgba($text-color, 64%);
    span {
      &:nth-child(2) {
        color: $theme-primary;
      }
    }
  }
}

.feature-created-header {
  .header-title {
    padding-top: 8px;
    font-weight: 600;
    font-size: 36px;
    line-height: 136.02%;
  }

  .description {
    padding-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba($text-color, 82%);
  }
}

.feature-tabs {
  margin-top: 15px;

  .ant-tabs {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: rgba($text-color, 92%);

    .ant-tabs-tab {
      padding: 15px 0;
    }

    .ant-tabs-nav::before {
      border: 2px solid $border-primary;
    }

    .ant-tabs-ink-bar {
      height: 3px;
    }
  }
}

// Package to copy react-tab
.packages-to-copy {
  max-width: 554px;
}

.share-card-container {
  .my-card {
    .ant-card-head-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 136.52%;
      color: $text-color;
      padding: 0;
    }

    .detail {
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: rgba($text-color, 92%);
    }

    .btn-invite {
      height: 38px;
      padding: 0 24px;
    }
  }
}

.ant-card-head {
  height: 88px;
  display: flex;
  .ant-card-head-wrapper {
    // padding: 24px;
    flex-direction: row-reverse;
    gap: 8px;
  }
}

.card-input {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: $gray-100;
  margin-bottom: 16px;

  .ant-input {
    border: none;
    background: transparent;
    &:focus {
      box-shadow: none;
    }
  }

  .team-select {
    .ant-select-selector {
      background: transparent;
    }

    .ant-select-focused:not(.ant-select-disabled)
      .ant-select:not(.ant-select-customize-input)
      .ant-select-selector {
      border-color: none;
      box-shadow: none;
    }
  }
}

.search-card {
  margin: 0;
  display: block;
  .ant-input-group {
    background-color: $gray-100;
    height: 38px;

    .ant-input-affix-wrapper {
      background-color: $gray-100;
      border-radius: 6px;
      box-shadow: none;
      border: none;
    }
  }
}
