@import "../../styles/variables/colors";

.filter-options {
  .ant-select-selector {
    height: 59px;
    border-radius: 8px !important;
    border: 1px solid $border-primary;
    &:focus {
      border: 2px solid $theme-primary;
    }

    .rc-virtual-list-holder {
      padding: 0 12px !important;
    }
  }
}

.ant-select-dropdown {
  padding: 0 12px;

  .ant-select-item {
    height: 36px;
    display: flex;
    align-items: center;
  }
}
