// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// Homepage style
.organisation-style {
  .btn-right {
    display: flex;
    justify-content: flex-end;

    .btn-plus {
      height: 44px;
    }
  }

  .head-section {
    .description {
      font-size: 16px;
      margin-top: 8px;
    }
  }

  .alert-info {
    margin-top: 20px;
  }

  .table-data {
    margin-top: 28px;
  }

  .name-section {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
  }

  .account-manager-section {
    display: flex;
    align-items: center;
  }

  .features-section {
    p {
      margin: 0;
    }
  }

  .info-card {
    margin-top: 30px;

    .ant-card-meta-title {
      margin: 0;
    }

    .subtitle {
      margin: 0;
    }

    .flex-section {
      display: flex;
      align-items: flex-start;
      gap: 0 100px;
    }

    .account-manager {
      display: flex;
    }

    .features-sec {
      display: flex;
      flex-direction: column;
      gap: 30px 0;

      .item {
        display: flex;
        justify-content: space-between;
        gap: 20px 155px;
      }

      .blue {
        color: $theme-primary;
      }

      .green {
        color: $theme-success;
      }

      .error {
        color: $theme-error;
      }
    }

    .primary-sec {
      display: flex;
      flex-direction: column;
      gap: 10px 0;

      .name {
        margin-left: 5px;
      }
    }
  }
}
